body {
    font-size: 18px;
    color: #515151;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}
p {
    margin-bottom: 32px;
}
h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 32px;
    font-weight: 400;
}
h1, .h1 {
    font-size: 38px;
}
h3, .h3 {
    font-size: 26px;
}
.fw-bold {
    font-weight: 700;
}
.header {
    background: #62BE8F;
    box-shadow: 0 8px 24px 0 rgba(34,55,84,0.15);
    z-index: 99;
    padding: 28px 0;
}
.header-nav {
    margin-right: 20px;
}
.header-nav li  {
    margin: 0 16px;
}
.header-nav a {
    display: block;
    color: #fff;
}
.nav li:before{
  content: none !important;
}
.hero {
    min-height: 550px;

    background: #223754 url(../images/tiles-bg.svg) right 0 no-repeat;
    color: #fff;
}
.mh-60 {
    min-height: 550px;
    padding-top: 95px;
}
.main-btn {
    border-radius: 4px;
    background-color: #FF7B0F;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    min-width: 180px;
    padding: 20px 15px;
}
.trust-bur {
    box-shadow: 0 4px 8px 0 rgba(34,55,84,0.07);
    padding: 53px;
    margin-bottom: 80px;
}
.trust-bur__logos {
    flex: 0 0 20%;
    max-width: 20%;
}
.trust-bur .container {
    max-width: 1360px;
}
ul {
    list-style: none;
    padding-left: 70px;
    margin-bottom: 30px;
}
ol {
    padding-left: 70px;
    margin-bottom: 30px;
    max-width: 660px;
}
ol li,
ul li {
    position: relative;
    margin-bottom: 24px;
}
ol li {
    font-weight: 700;
    color: #B9B9B9;
}
ul li:before {
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    top: 7px;
    left: -23px;
    background-color: #6259C3;
}

.green-color {
    color: #62BE8F;
}
.features {
    background: #223754 url(../images/0Q7A2440.png) right 0 no-repeat;
    padding: 110px 20px 63px;
    margin-bottom: 80px;
}
.features_title {
    position: relative;
    margin-bottom: 36px;
}
.features_title:before {
    position: absolute;
    content: '';
    top: -28px;
    left: 0;
    border-radius: 1.5px;
    width: 32px;
    height: 3px;
    background: #62BE8F;
}
.content-section {
    margin-bottom: 50px;
}
.features__list {
    padding-left: 40px;
    line-height: 1.8;
}
.features__list li:before {
    width: 22px;
    height: 22px;
    top: -1px;
    left: -39px;
    background: url(../images/check-circle.svg) 0 0 no-repeat;
}
.content-academy__item-wrap {
    margin-bottom: 30px;
}
.content-academy__title-wrap {
    min-height: 123px;
    font-size: 20px;
    font-weight: 600;
    padding: 24px;
}
.content-academy__item {
    background-color: #FFFFFF;
    box-shadow: 0 3px 8px 0 rgba(34,55,84,0.1);
    transition: all .3s;
    height: 100%;
}
.content-academy__item:hover {
    box-shadow: 0 3px 10px 0 rgba(34,55,84,0.2);
}
.content-academy__img-wrap img {
    max-width: 100%;
    height: auto;
}
.content-academy__item-wrap a {
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
.join-section {
    border-radius: 4px;
    background-color: #62BE8F;
    padding: 82px 20px 46px;
    margin-bottom: 80px;
}
.sub-heading {
    font-size: 20px;
}
.content-academy{
    margin-bottom: 50px;
}
.get-started {
    background: #223754;
    padding: 67px 20px 47px;
}
.get-started p a {
    text-decoration: underline;
}
.copyright {
    background-color: #62BE8F;
    padding: 20px;
}
.accordion-container,.set {
    height: auto;
}
.faq {
    margin-bottom: 140px;
}
.set {
    margin-bottom: 20px;
    border: 1px solid #E0DEF3;
    border-radius: 4px;
    background: #FFFFFF;
    -webkit-transition: all .5s cubic-bezier(0,0,.45,.96);
    -o-transition: all .5s cubic-bezier(0,0,.45,.96);
    transition: all .5s cubic-bezier(0,0,.45,.96);
}
.set.active,.set>a:after,.set>a:before {
    background: #fff;
}
.set.active>a {
    color: #37383C;
}
.set>a {
    display: block;
    padding: 23px 15px 23px 66px;
    position: relative;
    color: #515151;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    font-size: 20px;
    text-decoration: none;
}
.set>a:before {
    position: absolute;
    content: '';
    width: 18px;
    height: 12px;
    left: 23px;
    top: 29px;
    background: url(../images/chevron-up.svg) 0 -5px no-repeat;
    background-size: cover;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.set>a:after {
    width: 2px;
    height: 12px;
    right: 45px;
    top: 49px;
    border-radius: 1px;
}
.set>a.active:before {
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.set .content {
    display: none;
    padding: 0 20px 20px 67px;
}
.will-you-get .content-academy__img-wrap img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.will-you-get .content-academy__title-wrap {
    text-align: center;
    color: #62BE8F;
}
.will-you-get {
    margin-bottom: 54px;
}
.testimonial-item {
    padding-bottom: 42px;
}
.testimonial__image-wrap img {
    width: 160px;
    height: 160px;
    display: block;
    margin: 0 auto 25px;
    object-fit: cover;
}
.testimonial__text {
    line-height: 1.5;
    margin-bottom: 0;
}
.testimonial__name {
    font-weight: 600;
    bottom: 0;
    left: 0;
    width: 100%;
}
.testimonial {
    margin-bottom: 80px;
}
.section-mb-lg {
    margin-bottom: 130px;
}
.teachers__slide {
    border: 1px solid #E0DEF3;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 23px;
}
.teachers__content {
    flex: 0 0 56%;
    max-width: 56%;
    padding-left: 38px;
    padding-bottom: 10px;
}
.teachers__video-wrap {
    flex: 0 0 40%;
    max-width: 40%;
}
.teachers-section {
    overflow: hidden;
}
.teachers {
    overflow: visible;
    margin-bottom: 80px;
}

.slicknav_icon {
    position: relative;
    display: block;
    float: left;
    width: 33px;
    height: 22px;
    margin: 0
}

.slicknav_icon-bar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: all .3s;
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 5px
}

.slicknav_icon-bar:first-child {
    top: 0;
    width: 32px
}

.slicknav_icon-bar:nth-child(2) {
    top: 9px;
    width: 32px
}

.slicknav_icon-bar:nth-child(3) {
    top: 18px;
    width: 32px
}

.slicknav_open .slicknav_icon-bar:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px
}

.slicknav_open .slicknav_icon-bar:nth-child(2) {
    opacity: 0
}

.slicknav_open .slicknav_icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
    width: 32px
}
#tgl-btn {
    display: none;
}


@media (max-width: 991px) {
    .content-academy__title-wrap {
        font-size: 18px;
        padding: 20px 15px;
    }
    h1, .h1 {
        font-size: 34px;
    }
    .section-mb-lg,
    .faq {
        margin-bottom: 80px;
    }
    .trust-bur__logos {
        padding: 0 10px;
    }
    .trust-bur {
        padding: 30px;
    }
    .testimonial__name {
        padding: 0 10px;
    }
    .testimonial-item {
        padding-bottom: 63px;
    }
    .header-nav {
        display: none;
        width: 100%;
        margin-top: 20px;
    }
    #header .container {
        position: relative;
    }
    #tgl-btn {
        display: block;
        position: absolute;
        right: 0;
        top: 8px;
    }
    .header-nav li {
        margin: 0 0 14px 0;
    }
}
@media (max-width: 767px) {

    h1, .h1 {
        font-size: 26px;
    }
    .hero-content {
        margin-bottom: 25px;
    }
    .testimonial,
    .section-mb-lg,
    .faq,
    .join-section,
    .teachers,
    .features,
    .trust-bur {
        margin-bottom: 50px;
    }
    .features {
        padding: 60px 20px 23px;
    }
    .teachers__content,
    .teachers__video-wrap {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .teachers__content {
        padding-left: 0;
    }
    .teachers__video-wrap {
        margin-bottom: 25px;
    }
    .teachers__content p {
        margin-bottom: 0;
    }
    .join-section {
        padding: 50px 0 24px;
    }
    .testimonial-item {
        margin-bottom: 38px;
        padding-bottom: 0;
    }
    .testimonial__name {
        position: relative !important;
    }
    .testimonial__text {
        margin-bottom: 20px;
    }
    .get-started {
        padding: 47px 0 27px;
    }
    ol li, ul li,
    p {
        margin-bottom: 18px;
    }
    .features_title {
        margin-bottom: 24px;
    }
    .header {
        padding: 15px;
    }

    .logo {
        max-width: 240px;
    }

    #tgl-btn {
        top: 3px;
    }
}
@media (max-width: 575px) {
    h3, .h3 {
        font-size: 22px;
    }
    .content-academy__img-wrap img {
        width: 100%;
    }
    .content-academy__title-wrap {
        min-height: 80px;
    }
    ol,
    ul {
        padding-left: 40px;
    }
    .content p {
        margin-bottom: 10px;
    }
    .set .content {
        padding-left: 20px;
    }
    .set>a {
        padding: 15px 15px 15px 37px;
    }
    .set>a:before {
        width: 15px;
        height: 6px;
        left: 11px;
    }
    .teachers__slide {
        padding: 15px;
    }

    .features {
        background-size: cover;
    }
    .features__list li:before {
        top: 5px;
    }
    .features {
        position: relative;
        z-index: 1;
        padding-left: 0;
        padding-right: 0;
    }
    .features:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: -1;
    }

}

